body {
  background-color: #99b4bc;
}

.main {
  text-align: center;
  color: #ffffff;
  margin-top: 10em;
  margin-bottom: 10em;

  .question {
    font-size: 16pt;
    font-family: "Open Sans", sans-serif;
  }

  .options {
    margin-bottom: 5em;
    font-size: 12pt;
    font-family: "Open Sans", sans-serif;

    display: grid;
    grid-template-columns: auto 130px 130px 130px 130px 130px auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". r1 r2 r3 r4 r5 .";

    label {
      margin-top: 0.5em;
    }

    input {
      margin-top: 0.5em;
    }

    .r1 {
      grid-area: r1;
    }
    .r2 {
      grid-area: r2;
    }
    .r3 {
      grid-area: r3;
    }
    .r4 {
      grid-area: r4;
    }
    .r5 {
      grid-area: r5;
    }
  }
}