$scaled-min: min(100vw, 100vh);
$shadow-size: calc(#{$scaled-min} * 0.025);
$shadow-size-inv: calc(#{$scaled-min} * -0.025);
$shadow-size-small: calc(#{$scaled-min} * 0.008);
$shadow-size-inv-small: calc(#{$scaled-min} * -0.008);

body {
  background-color: #e8ecef;
}

::selection {
  background: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1.0);
}

.text_box {
  aspect-ratio: 1 / 1;
  width: calc(#{$scaled-min} * 0.9);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //border-style: solid;
  border-radius: 16%;
  box-shadow: inset $shadow-size $shadow-size $shadow-size 0 #d5d8e1, inset $shadow-size-inv $shadow-size-inv $shadow-size 0 #ffffff;

  background-color: #ecf0f3;

  .text {
    width: 86%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: calc(#{$scaled-min} * 0.03);
    font-family: "Open Sans", sans-serif;
    color: #9e9f9f;

    p {
      margin-bottom: calc(#{$scaled-min} * 0.06);
    }
  }
}

.video_box {
  text-align: center;

  //position: absolute;
  //top: 50%;
  //left: 50%;
  //margin: auto;
  //transform: translateY(-50%) translateX(-50%);

  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.button_fancy {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: menulist-button;

  padding: calc(#{$scaled-min} * 0.015) calc(#{$scaled-min} * 0.025);
  display: inline-block;
  cursor: pointer;

  text-decoration: none;
  text-align: center;
  font-size: calc(#{$scaled-min} * 0.025);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #9e9f9f;

  border: none;
  border-radius: calc(#{$scaled-min} * 10);
  box-shadow: inset $shadow-size-small $shadow-size-small $shadow-size-small 0 rgba(255, 255, 255, 0.5), inset $shadow-size-inv-small $shadow-size-inv-small $shadow-size-small 0 rgba(213, 216, 225, 0.5);

  background-color: #edf0f3;

  &:hover {
    box-shadow: inset $shadow-size-small $shadow-size-small $shadow-size-small 0 #ffffff, inset $shadow-size-inv-small $shadow-size-inv-small $shadow-size-small 0 #d5d8e1;
  }
  &:active {
    box-shadow: inset $shadow-size-small $shadow-size-small $shadow-size-small 0 #d5d8e1, inset $shadow-size-inv-small $shadow-size-inv-small $shadow-size-small 0 #ffffff;
  }
}

.quiz {
  background-color: #99b4bc;
  text-align: center;
  color: #ffffff;
  padding-top: 10em;
  padding-bottom: 10em;

  .question {
    font-size: 16pt;
    font-family: "Open Sans", sans-serif;
  }

  .options {
    margin-bottom: 5em;
    font-size: 12pt;
    font-family: "Open Sans", sans-serif;

    display: grid;
    grid-template-columns: auto 130px 130px 130px 130px 130px auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". r0 r1 r2 r3 r4 .";

    label {
      margin-top: 0.5em;
    }

    input {
      margin-top: 0.5em;
    }

    audio {
      position: absolute;
    }

    .r0 {
      grid-area: r0;
    }
    .r1 {
      grid-area: r1;
    }
    .r2 {
      grid-area: r2;
    }
    .r3 {
      grid-area: r3;
    }
    .r4 {
      grid-area: r4;
    }
  }
}
